/* GENERAL STYLES */
:root{
  --main-color: rgb(234, 234, 234);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  min-width: 880px;
  background: rgb(12,155,141);
  background: linear-gradient(180deg, rgba(12,155,141,1) 10%, rgba(215,219,214,1) 10%); 
}

img{
  width: 60px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.hover{
  cursor: pointer;
}

.icon{
  color: rgb(196, 200, 203);
  font-size: 1.5rem;
}

.main-container{
  width: 85%;
  height: 800px;
  box-shadow: 1px black;
}

.top-banner{
  background-color: var(--main-color);
  height: 75px;
}

.cursor-default:hover{
  cursor: default;
}

/* LEFT CONTAINER */

.left-container{
  max-height: 100%;
  min-width: 25%;
}

.notify-banner{
  background-color: rgb(142, 218, 252);
  height: 75px;
}

.notify-banner a{
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
}

.notify-banner .icon{
  color: rgb(142, 218, 252);
  margin-top: 25%;
}

.selected{
  background-color: rgb(233, 235, 235);
  min-height: 75px;
}

.contact{
  min-height: 75px;
  background-color: white;
}

.contact:hover{
  background-color: rgb(245, 245, 245);
}

/* RIGHT CONTAINER */

.right-container{
  max-height: 100%;
}

.chat-container{
  background-image: url("../img/mine.jpg");
  background-size: auto;
  height: calc(100% - 75px);
}

.message-box{
  background-color: var(--main-color);
  height: 50px;
}

.message-box i{
  color: rgb(60, 60, 60);
}

.chat-container .card{
  max-width: 50%;
  align-self: flex-end;
}

.chat-container .sent{
  background-color: rgb(213, 249, 186);
  align-self: flex-end;
}

.chat-container .received{
  align-self: flex-start;
}
